*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.module{
    margin: 20px;
    background-color: black;
    color: white;
}
.close-module-contnet{
    cursor: pointer;
}
.header,.footer{
    padding: 8px 0;
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
}
.body{
    background-color: greenyellow;
    padding: 15px 0;
    font-size: 1.1rem;
}
button{
    padding: 12px 6px;
    margin: 10px 0;
    background-color: #2a9cff;
    color: white;
    font-weight: 500;
    border: 0;outline: 0;
    border-radius: 3px;
    cursor: pointer;
}