@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}
:root{
    --primary-color:#2A8DC8;
    --black:#1E1E1E;
    --grey:#D9D9D9;
    --dark-grey:#6C757D;
    --active-blue:#0560ba;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/*  start of general styles */
button{
    height: 40px;
    background:var(--primary-color);
    padding:0 3rem;
    text-align: center;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background:var(--active-blue);
}
.search-bar{
    display: flex;
    padding: .3rem .7rem;
    border: 1px solid var(--grey);
    border-radius: 20px;
    background-color: white;
}
.search-bar i{
    color: var(--dark-grey);
}
 .search-bar input{
    background-color: transparent;
    border: none;
    width: 220px;
    margin-left: 10px;
}
.search-bar input:focus{
    outline:transparent;
}
/*  end of general styles */


/* start of header */
header.topnav{
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    color: white;
    padding:  0.5rem 3rem;
    /* position: fixed; */
    /* top: 0;right: 0;left: 0; */
}
header.topnav a{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}
.topnav .header-img{
    width: 60px;height: 60px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}
.topnav .header-img img{
    width: 100%;height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.topnav .hMenu{
    display: none;
    cursor:pointer;
}
/* end of header */


/* start of task bar */
.taskbar {
    padding: .6rem 1rem;
    max-width: 270px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.084);
    grid-area: aside;
}

.taskbar .title h1{
    font-size: 1.4rem;
    font-weight: 400;
}
 .taskbar-header{
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem 0;
 }
 .taskbar-header .no{
    background-color: var(--dark-grey);
    color: white;
    font-size: .6rem;
    font-weight: 600;
    padding: 0 5px ;
    margin-left: 5px;
 }

 /* start of messages */
 .taskbar .messages .message{
    font-size: .6rem;
    display: flex;
    padding: 10px 6px;
    border: 1px solid var(--grey);
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.084);
    position: relative;
 }
 .taskbar .messages .message .mess{
    width: 95%;max-height: 40px;
    overflow: hidden;
 }
 .taskbar .messages .message .time{
    position: absolute;
    bottom: 3%;right: 2%;
 }
/* finshed messages */
/* start of groups */
.your-groups .group{
    display: flex;
    gap: .4rem;
    margin: .7rem 0;
}
.your-groups .group .group-img,.people .people-image{
    width:45px;height:45px;
    border-radius: 50%;
    flex-shrink: 0;
}
.your-groups .group .group-img img,.people .people-image img{
    width: 100%;height: 100%;
    border-radius: 50%;
}

.your-groups .group .info .groupName{
    font-size: .9rem;
    font-weight: 400;
    display: inline-block;
}
.your-groups .group .info .status{
    display: inline;
    font-size: .5rem;
    color: var(--dark-grey);
    text-align: start;
}
.your-groups .group button{
    height: 20px;
    border-radius: 5px;
    padding:0 2rem;
    font-size: .7rem;
    font-weight: 400;
}
/* finished groups */

/* start of people */

.know .people{
    display: flex;
    padding: 0.6rem;
    gap:.3rem;
}
.know .people .people-details h1{
    font-weight: 400;
    font-size: .9rem;
}
.know .people .people-details h2{
    font-weight: 300;
    color: var(--dark-grey);
    font-size:.6rem ;
}

.know .people button{
    height: 20px;
    border-radius: 5px;
    padding:0 1rem;
    font-size: .5rem;
    font-weight: 400;
    display: flex;
    gap: .2rem;
    align-items: center;
    align-self: flex-end;
}

/* end of people */

/* start of taskbar footer */
.taskbar .footer{
    margin-top: 1rem;
    padding: .7rem 0;
    border-top: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    gap: .3rem;
}
.taskbar .footer a{
    color: var(--black);
}
/* end of taskbar footer */

/* end of task bar */



.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:200px auto;
    grid-template-areas: 
    "aside hero"
    "aside content"
    ;
}
.home-main .hero-section{
    /* grid-area: "hero"; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/hero-image-homepage-\(large\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    color: white;
    height: 200px;
    position: relative;
}
.home-main .hero-section::before{
    content: "";
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.365);
}
.home-main .hero-section h1{
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 1000;
}
.home-main .hero-section h2{
    font-size: .7rem;
    font-weight: 400;
    margin-bottom: 1rem;
    z-index: 1000;
}

.home-main .hero-section .buttons{
    z-index: 1000;
}
.home-main .hero-section .buttons button{
    padding: 0 1rem;
    margin: 0 4rem ;
    font-size: .7rem;
}
.content {
    padding: .5rem 0;
    padding-left: .7rem;
}
.content h1{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.content .recGroups {
    display: flex;
    gap: .5rem;
}
.content .recGroups .group,.contentBottom .explore .expGroups .group{
    display: flex;
    gap: .4rem;
    margin: .7rem 0;
    padding: .6rem;
    border: 1px solid var(--grey);
    border-radius: 8px;
    position: relative;
    min-width: 250px;height: 110px;
    width: fit-content;
    overflow: hidden;
}
.content .recGroups .group .group-image{
    width: 60px;height: 60px;
    border-radius: 50%;
}
.content .recGroups .group .group-image img{
    width: 100%;height: 100%;
    border-radius: 50%;
}
.content .recGroups .group .group-details h2{
    font-size: 1.2rem;
    font-weight: 500;
}
.content .recGroups .group .group-details h3{
    font-size: .7rem;
    color: var(--dark-grey);
    font-weight: 400;
}
.content .recGroups .group button{
    padding: 0 1rem;
    font-size: .7rem;
    font-weight: 400;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 5%; right: 2%;
}

/* to be fixed */
.content .recGroups .group .intrests{
    align-self: flex-end;
    position: absolute;
    width: 100%;
}
.content .recGroups .group .intrests span{
    font-size: .6rem;
    background-color: var(--black);
    color: white;
    padding: .5rem;
    border-radius: 15px;
    cursor: pointer;
}
.content .recGroups .group .intrests span:hover{
    background-color: black;
}













@media screen and (max-width:650px) {
    header.topnav{
        gap: 1rem;
        padding:  0.5rem 1rem;
    }
    header.topnav a{
        font-size: 1.2rem;
        text-wrap:wrap;
    }
    .topnav .search-bar input{
        max-width: 120px;
    }

    .taskbar{
        display: none;
    }
}
@media screen and (max-width:375px) {
    header.topnav{
        padding:  1rem;
    }
    header.topnav a{
        font-size: 1rem;
    }
    .topnav .search-bar{
        display: none;
    }
    .topnav .header-img{
        display: none;
    }
    .topnav .hMenu{
        display: block;
    }



}