
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* font-family: "Netflix Sans"; */
    font-weight: 400;
}
.App{
    min-height: 100vh;
    background-color: #111;
}
.header-section{
    z-index: 1000;
}
.hero-section,.header-section{
    position: absolute;
    top: 0;left: 0;right: 0;
}